Repository Microsoft/workbooks, pull requests merged in 2018-05, with the labels that each got.

#246 TypeSpec improvements
  Agents/Xamarin.Interactive.Tests/TypeSpecTests.cs
  Agents/Xamarin.Interactive.Tests/TypeSystemRepresentationTests.cs
  Agents/Xamarin.Interactive/Core/TypeSpec.cs
  Agents/Xamarin.Interactive/Remote/TypeExtensions.cs
  Agents/Xamarin.Interactive/Representations/Reflection/ReflectionRemoting.cs
  Tests/Xamarin.Interactive.Tests/ReflectionRemotingTests.cs
  docs/Xamarin.Interactive.api.cs
Labels: Area: Representations

#252 NuGet: move from Client to CodeAnalysis
  Agents/Xamarin.Interactive/IO/DotNetFileSystem.cs
  Agents/Xamarin.Interactive/IO/IFileSystem.cs
  Agents/Xamarin.Interactive/IO/QuarantineInfo.cs
  Clients/Xamarin.Interactive.Client/NuGet/PackageManagerServiceExtensions.cs
  Clients/Xamarin.Interactive.Client/NuGet/PackageManagerViewModel.cs
  Clients/Xamarin.Interactive.Client/Xamarin.Interactive.Client.csproj
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis.Tests/InteractivePackageManagerTests.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/IPackageManagerView.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/InteractiveInstallationContext.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/InteractiveNuGetProject.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/InteractivePackage.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/InteractivePackageDescription.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/InteractivePackageLogger.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/InteractivePackageManager.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/InteractivePackageProjectContext.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/InteractivePackageSource.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/PackageIdComparer.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/PackageIdentityExtensions.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/PackageManagerService.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/PackageSourceViewModel.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/NuGet/PackageViewModel.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/Xamarin.Interactive.CodeAnalysis.csproj
  Tests/Xamarin.Interactive.Tests/NuGetTests.cs
  build/ProductAssemblyInfo.cs
  docs/Xamarin.Interactive.Client.api.cs
  docs/Xamarin.Interactive.CodeAnalysis.api.cs
  docs/Xamarin.Interactive.api.cs
Labels: Area: NuGet

#247 Web: renderer for TypeSpec + React rendering fixes
  Agents/Xamarin.Interactive.Tests/TypeSpecTests.cs
  Agents/Xamarin.Interactive/Representations/Reflection/ReflectionRemoting.cs
  Agents/Xamarin.Interactive/Representations/Reflection/TypeSpec.cs
  Agents/Xamarin.Interactive/Representations/RepresentationManager.cs
  Agents/Xamarin.Interactive/Serialization/InteractiveJsonSerializerSettings.cs
  Clients/Xamarin.Interactive.Client.Web/ClientApp/ResultRendererRegistry.ts
  Clients/Xamarin.Interactive.Client.Web/ClientApp/WorkbookSession.ts
  Clients/Xamarin.Interactive.Client.Web/ClientApp/components/CodeCellView.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/renderers/CalendarRenderer.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/renderers/ImageRenderer.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/renderers/InteractiveObjectRenderer.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/renderers/NullRenderer.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/renderers/TestRenderer.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/renderers/ToStringRenderer.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/renderers/TypeSystemRenderers.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/renderers/VerbatimHtmlRenderer.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/rendering.ts
  Clients/Xamarin.Interactive.Client.Web/ClientApp/utils/JsonRefs.ts
  Clients/Xamarin.Interactive.Client.Web/Hubs/InteractiveSessionHub.cs
  docs/Xamarin.Interactive.api.cs
Labels: Area: Web

#284 GDPR Compliant EULA
  Clients/Xamarin.Interactive.Client.Mac/PackageAssets/Resources/en.lproj/License.rtf
  Package/Windows/license.rtf
Labels: Blocker

#304 Build: Remove some Android assemblies that shouldn't be shipped.
  WorkbookApps/WorkbookApp.targets
Labels: Area: Build/CI, Windows

#244 Workbooks on WebAssembly
  Agents/Xamarin.Interactive/Client/AgentTicketRegistrationAttribute.cs
  Agents/Xamarin.Interactive/CodeAnalysis/CodeCellId.cs
  Agents/Xamarin.Interactive/CodeAnalysis/Compilation.cs
  Agents/Xamarin.Interactive/CodeAnalysis/Evaluating/EvaluationAssemblyContext.cs
  Agents/Xamarin.Interactive/CodeAnalysis/Evaluating/EvaluationContextId.cs
  Agents/Xamarin.Interactive/CodeAnalysis/Evaluating/EvaluationContextManager.cs
  Agents/Xamarin.Interactive/Serialization/InteractiveJsonSerializerSettings.cs
  Clients/Xamarin.Interactive.Client.Web/ClientApp/WebAssemblyAgentContainer.ts
  Clients/Xamarin.Interactive.Client.Web/ClientApp/WorkbookSession.ts
  Clients/Xamarin.Interactive.Client.Web/ClientApp/evaluation.ts
  Clients/Xamarin.Interactive.Client.Web/ClientApp/utils.ts
  Clients/Xamarin.Interactive.Client.Web/Controllers/AssemblyController.cs
  Clients/Xamarin.Interactive.Client.Web/Controllers/HomeController.cs
  Clients/Xamarin.Interactive.Client.Web/Hubs/InteractiveSessionHub.cs
  Clients/Xamarin.Interactive.Client.Web/Middleware/WasmStaticFileMiddleware.cs
  Clients/Xamarin.Interactive.Client.Web/Startup.cs
  Clients/Xamarin.Interactive.Client.Web/Views/Home/Wasm.cshtml
  Clients/Xamarin.Interactive.Client.Web/WebAssembly/ReferenceWhitelist.cs
  Clients/Xamarin.Interactive.Client.Web/WebAssembly/WebAssemblyAgentClient.cs
  Clients/Xamarin.Interactive.Client.Web/WebAssembly/WebAssemblyAgentTicket.cs
  Clients/Xamarin.Interactive.Client.Web/WebAssembly/WebAssemblyEvaluationContextManager.cs
  Clients/Xamarin.Interactive.Client/Client/AgentProcesses/WebAssemblyAgentProcess.cs
  Clients/Xamarin.Interactive.Client/Session/InteractiveSession.cs
  Clients/Xamarin.Interactive.Client/WorkbookAppInstallation.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/CodeAnalysis/Evaluating/EvaluationService.cs
  WorkbookApps/Xamarin.Workbooks.WebAssembly/.gitignore
  WorkbookApps/Xamarin.Workbooks.WebAssembly/Build.targets
  WorkbookApps/Xamarin.Workbooks.WebAssembly/Client/agent.ts
  WorkbookApps/Xamarin.Workbooks.WebAssembly/Client/assemblies.ts
  WorkbookApps/Xamarin.Workbooks.WebAssembly/Client/index.ts
  WorkbookApps/Xamarin.Workbooks.WebAssembly/Client/runtime.ts
  WorkbookApps/Xamarin.Workbooks.WebAssembly/Runtime.cs
  WorkbookApps/Xamarin.Workbooks.WebAssembly/WasmLogProvider.cs
  WorkbookApps/Xamarin.Workbooks.WebAssembly/WebAssemblyAgent.cs
  WorkbookApps/Xamarin.Workbooks.WebAssembly/WebAssemblyEvaluationContextManager.cs
  WorkbookApps/Xamarin.Workbooks.WebAssembly/WebAssemblyEvaluationObserver.cs
  WorkbookApps/Xamarin.Workbooks.WebAssembly/Xamarin.Workbooks.WebAssembly.csproj
  WorkbookApps/Xamarin.Workbooks.WebAssembly/package.json
  WorkbookApps/Xamarin.Workbooks.WebAssembly/tsconfig.json
  WorkbookApps/Xamarin.Workbooks.WebAssembly/webpack.config.js
  WorkbookApps/Xamarin.Workbooks.WebAssembly/yarn.lock
  build.proj
  build/ProductAssemblyInfo.cs
  build/Xamarin.Build/MSBuild/GenerateWorkbookAppManifest.cs
  docs/Xamarin.Interactive.Client.api.cs
  docs/Xamarin.Interactive.CodeAnalysis.api.cs
  docs/Xamarin.Interactive.api.cs
Labels: Area: Agent Support, Area: Web, Don't Merge, Enhancement, WIP

#306 Address some warnings from the WASM merge
  Clients/Xamarin.Interactive.Client.Web/Controllers/AssemblyController.cs
  Clients/Xamarin.Interactive.Client/Client/AgentProcesses/WebAssemblyAgentProcess.cs
Labels: Area: Web Assembly

#305 CodeAnalysis: Resolving: add Mono's DllMap support
  Agents/Xamarin.Interactive.Mac/NativeExceptionHandler.cs
  Agents/Xamarin.Interactive.iOS/NativeExtensions.cs
  Agents/Xamarin.Interactive/CodeAnalysis/Evaluating/EvaluationContextManager.cs
  Agents/Xamarin.Interactive/CodeAnalysis/Resolving/DllMap.cs
  Agents/Xamarin.Interactive/CodeAnalysis/TargetCompilationConfiguration.cs
  Agents/Xamarin.Interactive/Runtime.cs
  Agents/Xamarin.Interactive/Serialization/InteractiveJsonSerializerSettings.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis.Tests/DllMapTests.cs
  docs/Xamarin.Interactive.api.cs
Labels: Area: Agent Support, Area: NuGet

#321 Build: turn on TreatWarningsAsErrors for all projects
  Agents/Xamarin.Interactive.Android/AndroidAgent.cs
  Directory.Build.props
Labels: Area: Build/CI

#398 Evaluation: Listen for loads in EvaluationAssemblyContext as well.
  Agents/Xamarin.Interactive/CodeAnalysis/EvaluationAssemblyContext.cs
Labels: Area: Compilation

#397 Client: Output correct click handler for exception toggles.
  Clients/Xamarin.Interactive.Client/Rendering/Renderers/CSharpTextRenderer.cs
Labels: Area: Workbook Surface
