Repository Microsoft/workbooks, pull requests merged in 2018-03, with the labels that each got.

#226 Build: VSTS: install NuGet CLI and Node
  .vsts-ci.yml
Labels: Area: Build/CI

#224 Web: Load workbook packages from Gist and disk.
  Clients/Xamarin.Interactive.Client.Web/ClientApp/Workbook.ts
  Clients/Xamarin.Interactive.Client.Web/ClientApp/components/WorkbookCommandBar.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/components/WorkbookEditor.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/components/WorkbookShell.tsx
  Clients/Xamarin.Interactive.Client.Web/ClientApp/typings/custom.d.ts
  Clients/Xamarin.Interactive.Client.Web/ClientApp/typings/draft-js-plugins-editor.d.ts
  Clients/Xamarin.Interactive.Client.Web/ClientApp/utils/DraftSaveLoadUtils.ts
  Clients/Xamarin.Interactive.Client.Web/Controllers/GistController.cs
  Clients/Xamarin.Interactive.Client.Web/npm-shrinkwrap.json
  Clients/Xamarin.Interactive.Client.Web/package.json
Labels: Area: Web

#227 IWorkspaceService API refinement and documentation
  Clients/Xamarin.Interactive.Client.Desktop/CodeAnalysis/Monaco/HoverProvider.cs
  Clients/Xamarin.Interactive.Client/NuGet/PackageManagerService.cs
  Clients/Xamarin.Interactive.Client/Workbook/Models/WorkbookPageViewModel.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis.Roslyn/RoslynCompilationWorkspace.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis.Tests/TestWorkspaceService.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/CodeAnalysis/CollectionExtensions.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/CodeAnalysis/EvaluationService.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/CodeAnalysis/IEvaluationService.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/CodeAnalysis/IWorkspaceService.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/CodeAnalysis/IWorkspaceServiceExtensions.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/CodeAnalysis/Models/Hover.cs
  CodeAnalysis/Xamarin.Interactive.CodeAnalysis/CodeAnalysis/WorkspaceConfiguration.cs
  docs/Xamarin.Interactive.CodeAnalysis.api.cs
Labels: Area: Compilation

#228 Don't build a separate Inspector app on Windows; Build.proj calls CoreBuild.proj
  .vsts-ci.yml
  Build.proj
  Clients/Xamarin.Interactive.Client.Windows/Build.targets
  Clients/Xamarin.Interactive.Client.Windows/Properties/AssemblyInfo.cs
  Clients/Xamarin.Interactive.Client.Windows/Xamarin.Interactive.Client.Windows.csproj
  CoreBuild.proj
  Package/Windows/AndroidAgentAppAssemblies.wxs
  Package/Windows/ClientFiles.wxs
  Package/Windows/Product.wxs
  WorkbookApps/Xamarin.Workbooks.Android/Build.targets
  Xamarin.Interactive.sln
  build/Environment.props
  build/Xamarin.Build/MSBuild/ZipArchive.cs
  build/Xamarin.Build/Xamarin.Build.dll
Labels: Area: Build/CI

#230 Web: move from npm to yarn
  .travis.yml
  .vsts-ci.yml
  Build.proj
  Clients/Xamarin.Interactive.Client.Web/.yarnclean
  Clients/Xamarin.Interactive.Client.Web/.yarnrc
  Clients/Xamarin.Interactive.Client.Web/Build.targets
  Clients/Xamarin.Interactive.Client.Web/npm-shrinkwrap.json
  Clients/Xamarin.Interactive.Client.Web/package.json
  Clients/Xamarin.Interactive.Client.Web/yarn.lock
Labels: Area: Build/CI, Area: Web
